
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>©2022 Aishwarya & Priyanka</p>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="app.js" charset="utf-8"></script>
</body>
</html>
